*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
     
}
html{
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

 
header{
    position: fixed;
    z-index:1;
    padding: 20px 0px;
    width:100%; 
    color: white;
    
}
.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-top: 20px;     
}
  .logo{
      padding-left: 17%;
  }
 
 

.navlinks{
    display: flex;
    list-style: none;
    gap: 15px;
    flex-wrap: wrap;
    padding-left: 800px;
 
    
    

}
/* btns */
.navlinks li a{
 
    background: red;
    padding: 8px 14px;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}
#text_a{
    font-size: 28px;
    padding-top: 11px;
    font-family: Times New Roman;
}
#text_b{
    font-size: 23px;
    padding-top: 20px;
    font-family: Times New Roman;
}

.homesection{
  
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/44355e66-dbf8-4dd8-ba6b-8e9e32ec6abd/IN-en-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;   
    height: 100vh;
    width: 100%;
    position: relative;  
    background-position: center;
}
   
    
   .decs{
    background: rgba(0, 0, 0, 0.7);
     color:white;
    display: flex;
    flex-direction: column;
   padding:400px 40px ;
   padding-bottom: 350PX;
   justify-content: center;
    align-items: center;
    position: relative;
    bottom: 75px;
     
   }
  

 h1{
     font-size:8vmin;;
      font-family: Times New Roman;
 }
   